html, body, #root {
    height: 100%;    
    margin: 0;
}

.app-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
  

.gradient-background {
    background: linear-gradient(45deg, #DC3D24, #232B2B);
    background-size: cover;
}

.main-content {
    flex: 1;
    display: flex;
    align-items: center;
}
  
.text-section {
    padding: 2rem;
    color: #FFFFFF;
}
  
.text-section .heading {
    color: #FFFFFF;
    font-weight: bold;
}
  
.login-card {
    width: 30rem;
}
  
.login-card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 350px;
}
  
.custom-button {
    border-radius: 10px;
    border: 2px solid #DC3D24;
    color: #232B2B;
}
  
.app-footer {
    background-color: #232B2B;
    color: #FFFFFF;
    text-align: center;
    padding: 1rem;
}
  
.app-footer a {
    color: #DC3D24;
    text-decoration: none;
}
  